Repository niosh-mining/obsplus, pull requests merged in 2019-05, with the labels that each got.

#83 update_index to return self
  CHANGELOG.txt
  obsplus/bank/core.py
  obsplus/bank/eventbank.py
  obsplus/bank/wavebank.py
  tests/test_bank/test_eventbank.py
  tests/test_bank/test_wavebank.py
Labels: bank

#80 Stream.get_waveforms to have default params (like WaveBank.get_waveforms)
  obsplus/constants.py
  obsplus/waveforms/get_waveforms.py
  tests/test_waveforms/test_get_waveforms.py
Labels: utils, waveforms

#84 Dataset refactor
  obsplus/__init__.py
  obsplus/datasets/TA/md5_hash.json
  obsplus/datasets/__init__.py
  obsplus/datasets/bingham/md5_hash.json
  obsplus/datasets/crandall/md5_hash.json
  obsplus/datasets/dataloader.py
  obsplus/datasets/kemmerer/md5_hash.json
  obsplus/exceptions.py
  obsplus/utils.py
  obsplus/waveforms/get_waveforms.py
  scripts/recreate_dataset_hash.py
  setup.py
  tests/test_datasets.py
  tests/test_interfaces.py
  tests/test_structures/test_fetcher.py
  tests/test_utils.py
Labels: dataset

#73 Grid
  .gitignore
  obsplus/conversions.py
  obsplus/structures/grid.py
  tests/conftest.py
  tests/test_conversions.py
  tests/test_data/test_grid_inputs/bogus.dxf
  tests/test_data/test_grid_inputs/dxf_check.txt
  tests/test_data/test_grid_inputs/plane.csv
  tests/test_data/test_grid_inputs/simple_topo.csv
  tests/test_data/test_grid_inputs/test_lvz.csv
  tests/test_data/test_grid_inputs/test_modslow.P.mod.buf
  tests/test_data/test_grid_inputs/test_points.csv
  tests/test_data/test_grid_inputs/topo.dxf
  tests/test_data/test_grid_inputs/topo_check_vals.csv
  tests/test_structures/test_grid.py
Labels: utils

#85 bulk waveform refactor
  obsplus/bank/wavebank.py
  obsplus/constants.py
  obsplus/structures/fetcher.py
  obsplus/utils.py
  obsplus/waveforms/get_waveforms.py
  obsplus/waveforms/utils.py
  tests/test_bank/test_wavebank.py
  tests/test_waveforms/test_get_waveforms.py
  tests/test_waveforms/test_waveforms_utils.py
Labels: waveforms

#93 Get bulk update ind
  CHANGELOG.txt
  docs/notebooks/contributing.ipynb
  docs/notebooks/datasets/datasets.ipynb
  docs/notebooks/datastructures/events_to_pandas.ipynb
  docs/notebooks/datastructures/stations_to_pandas.ipynb
  docs/notebooks/datastructures/xarray.ipynb
  docs/notebooks/installation.ipynb
  docs/notebooks/interfaces/eventbank.ipynb
  docs/notebooks/interfaces/fetcher.ipynb
  docs/notebooks/interfaces/obspy_methods.ipynb
  docs/notebooks/interfaces/wavebank.ipynb
  docs/notebooks/intro.ipynb
  docs/notebooks/utils/catalog_validation.ipynb
  docs/notebooks/utils/dataframeextractor.ipynb
  docs/notebooks/utils/json.ipynb
  docs/notebooks/utils/misc.ipynb
  obsplus/bank/wavebank.py
  obsplus/version.py
  obsplus/waveforms/utils.py
Labels: bank, waveforms
