Repository niosh-mining/obsplus, pull requests merged in 2019-06, with the labels that each got.

#98 dataframe to inventory
  CHANGELOG.txt
  obsplus/constants.py
  obsplus/stations/get_stations.py
  obsplus/stations/utils.py
  obsplus/utils.py
  obsplus/waveforms/utils.py
  tests/conftest.py
  tests/test_stations/test_get_stations.py
  tests/test_stations/test_stations_utils.py
  tests/test_waveforms/test_waveforms_utils.py
Labels: stations, utils

#101 debug concurrent index updates
  .travis.yml
  CHANGELOG.txt
  obsplus/bank/utils.py
  tests/test_bank/test_wavebank.py
Labels: bank, bug

#100 None bug
  .gitignore
  CHANGELOG.txt
  azure-pipelines.yml
  docs/notebooks/datasets/datasets.ipynb
  docs/notebooks/intro.ipynb
  obsplus/__init__.py
  obsplus/bank/utils.py
  obsplus/constants.py
  obsplus/datasets/__init__.py
  obsplus/datasets/bingham.py
  obsplus/datasets/crandall.py
  obsplus/datasets/crandall/events.xml
  obsplus/datasets/crandall/md5_hash.json
  obsplus/datasets/dataset.py
  obsplus/datasets/kemmerer.py
  obsplus/datasets/ta.py
  obsplus/datasets/utils.py
  obsplus/exceptions.py
  obsplus/structures/dfextractor.py
  tests/conftest.py
  tests/test_bank/test_eventbank.py
  tests/test_bank/test_wavebank.py
  tests/test_datasets.py
  tests/test_events/test_pd_catalog.py
  tests/test_stations/test_pd_stations.py
  tests/test_structures/test_fetcher.py
Labels: bug, utils

#105 version 0.0.2
  CHANGELOG.txt
Labels: release

#106 Reduce indexing during initial update_index
  CHANGELOG.txt
  obsplus/bank/core.py
  obsplus/bank/eventbank.py
  obsplus/bank/wavebank.py
  obsplus/constants.py
  obsplus/interfaces.py
  obsplus/utils.py
  tests/test_bank/test_eventbank.py
  tests/test_bank/test_wavebank.py
  tests/test_interfaces.py
Labels: bank, enhancement
